NODE_ENV=development
NEXT_PUBLIC_SITE_URL=
DATABASE_URL="mongodb+srv://iamfiodorgo_db_user:<DB_PASSWORD>@qards-app-cluster.79q4pcs.mongodb.net/?appName=qards-app-cluster"


JWT_SIGNING_PRIVATE_KEY=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=